<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>character</key>
		<string>あ</string>
		<key>romaji</key>
		<string>a</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S0</string>
			<string>E0</string>
			<string>S2</string>
			<string>E1</string>
			<string>E2</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>い</string>
		<key>romaji</key>
		<string>i</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>S1</string>
			<string>E0</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>う</string>
		<key>romaji</key>
		<string>u</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
			<string>S1</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>え</string>
		<key>romaji</key>
		<string>e</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
			<string>S1</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>お</string>
		<key>romaji</key>
		<string>o</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S0</string>
			<string>E0</string>
			<string>S2</string>
			<string>E2</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>や</string>
		<key>romaji</key>
		<string>ya</string>
		<key>strokes</key>
		<array>
			<string>S2</string>
			<string>S1</string>
			<string>E1</string>
			<string>S0</string>
			<string>E0</string>
			<string>E2</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ゆ</string>
		<key>romaji</key>
		<string>yu</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S0</string>
			<string>E0</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>よ</string>
		<key>romaji</key>
		<string>yo</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S0</string>
			<string>E0</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>か</string>
		<key>romaji</key>
		<string>ka</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S2</string>
			<string>S0</string>
			<string>E2</string>
			<string>E0</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>き</string>
		<key>romaji</key>
		<string>ki</string>
		<key>strokes</key>
		<array>
			<string>S2</string>
			<string>E0</string>
			<string>S0</string>
			<string>E1</string>
			<string>S1</string>
			<string>E2</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>く</string>
		<key>romaji</key>
		<string>ku</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>け</string>
		<key>romaji</key>
		<string>ke</string>
		<key>strokes</key>
		<array>
			<string>S2</string>
			<string>S0</string>
			<string>E1</string>
			<string>S1</string>
			<string>E0</string>
			<string>E2</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>こ</string>
		<key>romaji</key>
		<string>ko</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
			<string>S1</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>きゃ</string>
		<key>romaji</key>
		<string>kya</string>
		<key>strokes</key>
		<array>
			<string>S2</string>
			<string>E0</string>
			<string>S0</string>
			<string>E1</string>
			<string>S1</string>
			<string>S4</string>
			<string>S5</string>
			<string>E4</string>
			<string>S3</string>
			<string>E3</string>
			<string>E2</string>
			<string>E5</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>きゅ</string>
		<key>romaji</key>
		<string>kyu</string>
		<key>strokes</key>
		<array>
			<string>S2</string>
			<string>E0</string>
			<string>S0</string>
			<string>E1</string>
			<string>S1</string>
			<string>S4</string>
			<string>S3</string>
			<string>E3</string>
			<string>E2</string>
			<string>E4</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>きょ</string>
		<key>romaji</key>
		<string>kyo</string>
		<key>strokes</key>
		<array>
			<string>S2</string>
			<string>E0</string>
			<string>S0</string>
			<string>E1</string>
			<string>S1</string>
			<string>S4</string>
			<string>S3</string>
			<string>E3</string>
			<string>E2</string>
			<string>E4</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>が</string>
		<key>romaji</key>
		<string>ga</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S3</string>
			<string>S4</string>
			<string>E3</string>
			<string>E4</string>
			<string>S2</string>
			<string>S0</string>
			<string>E2</string>
			<string>E0</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぎ</string>
		<key>romaji</key>
		<string>gi</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぐ</string>
		<key>romaji</key>
		<string>gu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>げ</string>
		<key>romaji</key>
		<string>ge</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ご</string>
		<key>romaji</key>
		<string>go</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぎゃ</string>
		<key>romaji</key>
		<string>gya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぎゅ</string>
		<key>romaji</key>
		<string>gyu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぎょ</string>
		<key>romaji</key>
		<string>gyo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>さ</string>
		<key>romaji</key>
		<string>sa</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>し</string>
		<key>romaji</key>
		<string>shi</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>す</string>
		<key>romaji</key>
		<string>su</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>せ</string>
		<key>romaji</key>
		<string>se</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>そ</string>
		<key>romaji</key>
		<string>so</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>しゃ</string>
		<key>romaji</key>
		<string>sya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>しゅ</string>
		<key>romaji</key>
		<string>syu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>しょ</string>
		<key>romaji</key>
		<string>syo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ざ</string>
		<key>romaji</key>
		<string>za</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>じ</string>
		<key>romaji</key>
		<string>ji</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ず</string>
		<key>romaji</key>
		<string>zu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぜ</string>
		<key>romaji</key>
		<string>ze</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぞ</string>
		<key>romaji</key>
		<string>zo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>じゃ</string>
		<key>romaji</key>
		<string>zya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>じゅ</string>
		<key>romaji</key>
		<string>zyu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>じょ</string>
		<key>romaji</key>
		<string>zyo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>た</string>
		<key>romaji</key>
		<string>ta</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ち</string>
		<key>romaji</key>
		<string>chi</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>つ</string>
		<key>romaji</key>
		<string>tsu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>て</string>
		<key>romaji</key>
		<string>te</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>と</string>
		<key>romaji</key>
		<string>to</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ちゃ</string>
		<key>romaji</key>
		<string>cha</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ちゅ</string>
		<key>romaji</key>
		<string>chu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ちょ</string>
		<key>romaji</key>
		<string>cho</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>だ</string>
		<key>romaji</key>
		<string>da</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぢ</string>
		<key>romaji</key>
		<string>ji</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>づ</string>
		<key>romaji</key>
		<string>zu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>で</string>
		<key>romaji</key>
		<string>de</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ど</string>
		<key>romaji</key>
		<string>do</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぢゃ</string>
		<key>romaji</key>
		<string>jya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぢゅ</string>
		<key>romaji</key>
		<string>jyu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぢょ</string>
		<key>romaji</key>
		<string>jyo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>な</string>
		<key>romaji</key>
		<string>na</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>に</string>
		<key>romaji</key>
		<string>ni</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぬ</string>
		<key>romaji</key>
		<string>nu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ね</string>
		<key>romaji</key>
		<string>ne</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>の</string>
		<key>romaji</key>
		<string>no</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>にゃ</string>
		<key>romaji</key>
		<string>nya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>にゅ</string>
		<key>romaji</key>
		<string>nyu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>にょ</string>
		<key>romaji</key>
		<string>nyo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ま</string>
		<key>romaji</key>
		<string>ma</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>み</string>
		<key>romaji</key>
		<string>mi</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>む</string>
		<key>romaji</key>
		<string>mu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>め</string>
		<key>romaji</key>
		<string>me</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>も</string>
		<key>romaji</key>
		<string>mo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>みゃ</string>
		<key>romaji</key>
		<string>mya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>みゅ</string>
		<key>romaji</key>
		<string>myu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>みょ</string>
		<key>romaji</key>
		<string>myo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>は</string>
		<key>romaji</key>
		<string>ha</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ひ</string>
		<key>romaji</key>
		<string>hi</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ふ</string>
		<key>romaji</key>
		<string>fu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>へ</string>
		<key>romaji</key>
		<string>he</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ほ</string>
		<key>romaji</key>
		<string>ho</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ひゃ</string>
		<key>romaji</key>
		<string>hya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ひゅ</string>
		<key>romaji</key>
		<string>hyu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ひょ</string>
		<key>romaji</key>
		<string>hyo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ば</string>
		<key>romaji</key>
		<string>ba</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>び</string>
		<key>romaji</key>
		<string>bi</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぶ</string>
		<key>romaji</key>
		<string>bu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>べ</string>
		<key>romaji</key>
		<string>be</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぼ</string>
		<key>romaji</key>
		<string>bo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>びゃ</string>
		<key>romaji</key>
		<string>bya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>びゅ</string>
		<key>romaji</key>
		<string>byu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>びょ</string>
		<key>romaji</key>
		<string>byo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぱ</string>
		<key>romaji</key>
		<string>pa</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぴ</string>
		<key>romaji</key>
		<string>pi</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>L1</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぷ</string>
		<key>romaji</key>
		<string>pu</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>L1</string>
			<string>E0</string>
			<string>S1</string>
			<string>S3</string>
			<string>S2</string>
			<string>E3</string>
			<string>E1</string>
			<string>E2</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぺ</string>
		<key>romaji</key>
		<string>pe</string>
		<key>strokes</key>
		<array>
			<string>L1</string>
			<string>S0</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぽ</string>
		<key>romaji</key>
		<string>po</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぴゃ</string>
		<key>romaji</key>
		<string>pya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぴゅ</string>
		<key>romaji</key>
		<string>pyu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ぴょ</string>
		<key>romaji</key>
		<string>pyo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ら</string>
		<key>romaji</key>
		<string>ra</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
			<string>S1</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>り</string>
		<key>romaji</key>
		<string>ri</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>S1</string>
			<string>E0</string>
			<string>E1</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>る</string>
		<key>romaji</key>
		<string>ru</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>れ</string>
		<key>romaji</key>
		<string>re</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>S1</string>
			<string>E1</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ろ</string>
		<key>romaji</key>
		<string>ro</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>りゃ</string>
		<key>romaji</key>
		<string>rya</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>りゅ</string>
		<key>romaji</key>
		<string>ryu</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>りょ</string>
		<key>romaji</key>
		<string>ryo</string>
		<key>strokes</key>
		<array>
			
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>わ</string>
		<key>romaji</key>
		<string>wa</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>S1</string>
			<string>E1</string>
			<string>E0</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>を</string>
		<key>romaji</key>
		<string>wo</string>
		<key>strokes</key>
		<array>
			<string>S1</string>
			<string>S0</string>
			<string>E0</string>
			<string>S2</string>
			<string>E1</string>
			<string>E2</string>
		</array>
	</dict>
	<dict>
		<key>character</key>
		<string>ん</string>
		<key>romaji</key>
		<string>n</string>
		<key>strokes</key>
		<array>
			<string>S0</string>
			<string>E0</string>
		</array>
	</dict>
</array>
</plist>
