<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>character</key>
		<string>ア</string>
		<key>romaji</key>
		<string>a</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>イ</string>
		<key>romaji</key>
		<string>i</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ウ</string>
		<key>romaji</key>
		<string>u</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>エ</string>
		<key>romaji</key>
		<string>e</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>オ</string>
		<key>romaji</key>
		<string>o</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヤ</string>
		<key>romaji</key>
		<string>ya</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ユ</string>
		<key>romaji</key>
		<string>yu</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヨ</string>
		<key>romaji</key>
		<string>yo</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>カ</string>
		<key>romaji</key>
		<string>ka</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>キ</string>
		<key>romaji</key>
		<string>ki</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ク</string>
		<key>romaji</key>
		<string>ku</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ケ</string>
		<key>romaji</key>
		<string>ke</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>コ</string>
		<key>romaji</key>
		<string>ko</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>キャ</string>
		<key>romaji</key>
		<string>kya</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>キュ</string>
		<key>romaji</key>
		<string>kyu</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>キョ</string>
		<key>romaji</key>
		<string>kyo</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ガ</string>
		<key>romaji</key>
		<string>ga</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ギ</string>
		<key>romaji</key>
		<string>gi</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>グ</string>
		<key>romaji</key>
		<string>gu</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ゲ</string>
		<key>romaji</key>
		<string>ge</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ゴ</string>
		<key>romaji</key>
		<string>go</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ギャ</string>
		<key>romaji</key>
		<string>gya</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ギュ</string>
		<key>romaji</key>
		<string>gyu</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ギョ</string>
		<key>romaji</key>
		<string>gyo</string>
		<key>strokes</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>サ</string>
		<key>romaji</key>
		<string>sa</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>シ</string>
		<key>romaji</key>
		<string>shi</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ス</string>
		<key>romaji</key>
		<string>su</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>セ</string>
		<key>romaji</key>
		<string>se</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ソ</string>
		<key>romaji</key>
		<string>so</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>シャ</string>
		<key>romaji</key>
		<string>sya</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>シュ</string>
		<key>romaji</key>
		<string>syu</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ショ</string>
		<key>romaji</key>
		<string>syo</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ザ</string>
		<key>romaji</key>
		<string>za</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ジ</string>
		<key>romaji</key>
		<string>ji</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ズ</string>
		<key>romaji</key>
		<string>zu</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ゼ</string>
		<key>romaji</key>
		<string>ze</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ゾ</string>
		<key>romaji</key>
		<string>zo</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ジャ</string>
		<key>romaji</key>
		<string>zya</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ジュ</string>
		<key>romaji</key>
		<string>zyu</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ジョ</string>
		<key>romaji</key>
		<string>zyo</string>
		<key>strokes</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>タ</string>
		<key>romaji</key>
		<string>ta</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>チ</string>
		<key>romaji</key>
		<string>chi</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ツ</string>
		<key>romaji</key>
		<string>tsu</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>テ</string>
		<key>romaji</key>
		<string>te</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ト</string>
		<key>romaji</key>
		<string>to</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>チャ</string>
		<key>romaji</key>
		<string>cha</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>チュ</string>
		<key>romaji</key>
		<string>chu</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>チョ</string>
		<key>romaji</key>
		<string>cho</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ダ</string>
		<key>romaji</key>
		<string>da</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヂ</string>
		<key>romaji</key>
		<string>ji</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヅ</string>
		<key>romaji</key>
		<string>zu</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>デ</string>
		<key>romaji</key>
		<string>de</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ド</string>
		<key>romaji</key>
		<string>do</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヂャ</string>
		<key>romaji</key>
		<string>jya</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヂュ</string>
		<key>romaji</key>
		<string>jyu</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヂョ</string>
		<key>romaji</key>
		<string>jyo</string>
		<key>strokes</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ナ</string>
		<key>romaji</key>
		<string>na</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ニ</string>
		<key>romaji</key>
		<string>ni</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヌ</string>
		<key>romaji</key>
		<string>nu</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ネ</string>
		<key>romaji</key>
		<string>ne</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ノ</string>
		<key>romaji</key>
		<string>no</string>
		<key>strokes</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ニャ</string>
		<key>romaji</key>
		<string>nya</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ニュ</string>
		<key>romaji</key>
		<string>nyu</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ニョ</string>
		<key>romaji</key>
		<string>nyo</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>マ</string>
		<key>romaji</key>
		<string>ma</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ミ</string>
		<key>romaji</key>
		<string>mi</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ム</string>
		<key>romaji</key>
		<string>mu</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>メ</string>
		<key>romaji</key>
		<string>me</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>モ</string>
		<key>romaji</key>
		<string>mo</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ミャ</string>
		<key>romaji</key>
		<string>mya</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ミュ</string>
		<key>romaji</key>
		<string>myu</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ミョ</string>
		<key>romaji</key>
		<string>myo</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ハ</string>
		<key>romaji</key>
		<string>ha</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヒ</string>
		<key>romaji</key>
		<string>hi</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>フ</string>
		<key>romaji</key>
		<string>fu</string>
		<key>strokes</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヘ</string>
		<key>romaji</key>
		<string>he</string>
		<key>strokes</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ホ</string>
		<key>romaji</key>
		<string>ho</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヒャ</string>
		<key>romaji</key>
		<string>hya</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヒュ</string>
		<key>romaji</key>
		<string>hyu</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヒョ</string>
		<key>romaji</key>
		<string>hyo</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>バ</string>
		<key>romaji</key>
		<string>ba</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ビ</string>
		<key>romaji</key>
		<string>bi</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ブ</string>
		<key>romaji</key>
		<string>bu</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ベ</string>
		<key>romaji</key>
		<string>be</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ボ</string>
		<key>romaji</key>
		<string>bo</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ビャ</string>
		<key>romaji</key>
		<string>bya</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ビュ</string>
		<key>romaji</key>
		<string>byu</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ビョ</string>
		<key>romaji</key>
		<string>byo</string>
		<key>strokes</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>パ</string>
		<key>romaji</key>
		<string>pa</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ピ</string>
		<key>romaji</key>
		<string>pi</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>プ</string>
		<key>romaji</key>
		<string>pu</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ペ</string>
		<key>romaji</key>
		<string>pe</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ポ</string>
		<key>romaji</key>
		<string>po</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ピャ</string>
		<key>romaji</key>
		<string>pya</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ピュ</string>
		<key>romaji</key>
		<string>pyu</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ピョ</string>
		<key>romaji</key>
		<string>pyo</string>
		<key>strokes</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ラ</string>
		<key>romaji</key>
		<string>ra</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>リ</string>
		<key>romaji</key>
		<string>ri</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ル</string>
		<key>romaji</key>
		<string>ru</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>レ</string>
		<key>romaji</key>
		<string>re</string>
		<key>strokes</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ロ</string>
		<key>romaji</key>
		<string>ro</string>
		<key>strokes</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>リャ</string>
		<key>romaji</key>
		<string>rya</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>リュ</string>
		<key>romaji</key>
		<string>ryu</string>
		<key>strokes</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>リョ</string>
		<key>romaji</key>
		<string>ryo</string>
		<key>strokes</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ワ</string>
		<key>romaji</key>
		<string>wa</string>
		<key>strokes</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ヲ</string>
		<key>romaji</key>
		<string>wo</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>character</key>
		<string>ン</string>
		<key>romaji</key>
		<string>n</string>
		<key>strokes</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
